<div class="container">
  <!-- <h1 class="m-3 pb-3">¿Como funciona?</h1> -->
  <div class="problem-wrapper text-center mb-2">
    <h4>¿queres renovar tu baño y no sabes donde empezar?</h4>
    <div>¿Quisieras saber los costos antes de embarcarte en el proyecto?</div>
    <div>
      ¿No te gusta la idea de pagar por un proyecto que no sabes si va a
      gustarte?
    </div>
    <div>¿No conoces ningun arquitecto o contratista en quien confies?</div>
  </div>

  <div class="solution-wrapper mt-5 text-center">
    <h5>
      Vamos a ayudarte a encontrar el baño de tus sueños de forma simple y
      económica
    </h5>
    <div class="d-flex justify-content-around pt-4">
      <div class="flex-grow-1 px-3 text-start">
        1- Seleccina el diseño que te guste de nuestra carta. Envianos las
        medidas de tu baño. Te enviaremos gratis una cotización preliminar
        aproximada de cuanto podría costarte el proyecto
      </div>
      <div class="flex-grow-1 px-3">
        Con tu aceptación iremos al lugar donde será la obra para tomar las
        medidas exactas. Adaptaremos nuestro diseño a tu espacio
      </div>
      <div class="flex-grow-1 px-3">
        Te enviaremos el proyecto completo, con planos, detalle de materiales,
        computos y presupuestos. Ademas te pondremos en contacto con un
        contratista vetado por nosotros para que puedas ejecutar el proyecot
      </div>
    </div>
  </div>
</div>
