<div class="container">
  <h1 class="m-3 pb-3">{{ copy.title }}</h1>
  <div class="card-wrapper d-flex justify-content-center">
    <div
      *ngFor="let design of copy.designs"
      class="card mx-5"
      style="width: 18rem">
      <img [src]="design.img" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ design.title }}</h5>
        <p class="card-text">
          {{ design.desc }}
        </p>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
  </div>
</div>
