<div class="container">
  <h1 class="m-3 pb-3">{{ copy.title }}</h1>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>{{ copy.name }} </mat-label>
        <input matInput formControlName="name" type="text" tabindex="0" />
        <mat-hint>{{ copy.nameHint }}</mat-hint>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>{{ copy.email }}</mat-label>
        <input
          matInput
          formControlName="email"
          type="email"
          inputmode="email" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>{{ copy.phone }}</mat-label>
        <input
          matInput
          formControlName="telephone"
          type="tel"
          inputmode="tel" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>{{ copy.query }}</mat-label>
        <textarea
          matInput
          formControlName="query"
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="4"
          cdkAutosizeMaxRows="10"></textarea>
      </mat-form-field>
    </div>
    <div>
      <button
        id="consulta"
        mat-stroked-button
        type="submit"
        color="primary"
        [disabled]="!form.valid">
        Enviar
      </button>
    </div>
  </form>
</div>
